.fontsize-11{font-size: 11px !important;}
.fontsize-12{font-size: 12px !important;}
.fontsize-13{font-size: 13px !important;}
.fontsize-14{font-size: 14px !important;}
.fontsize-15{font-size: 15px !important;}
.fontsize-17{font-size: 17px !important;}
.fontsize-18{font-size: 18px !important;}
.fontsize-19{font-size: 19px !important;}
.fontsize-20{font-size: 20px !important;}
.fontsize-21{font-size: 21px !important;}
.fontsize-22{font-size: 22px !important;}
.fontsize-24{font-size: 24px !important;}
.fontsize-30{font-size: 30px !important;}
.fontsize-35{font-size: 35px !important;}
.fontsize-45{font-size: 45px !important;}
.poppins{font-family: 'Poppins' !important;}
.bold{font-style: bold !important;}
.italic{font-style: italic !important;}
.underline{text-decoration: underline !important;}
.color-black{
    color: #212121 !important;
}
.weight-400{
    font-weight: 400;
}
.bg-color-brand{
    background-color:#123468 !important
}
.bg-black{
    background-color: #212121 !important;
}
.bg-gray{
    background-color: #eeeeee !important;
}
.gray-text{
    color: #d8d8d8;
}
.bg-white{
    background-color:white;
}
.color-primary{
    color: #3f51b5;
}
.text-color-white{
    color: white !important;
}
.text-color-black{
    color: black !important;
}
.text-color-black::placeholder{
    color: black !important;
}
.font-weight-600{
    font-weight: 600 !important;
}
.width-540px{
    width: 540px !important;
}
.height-470px{
    height: 470px !important;
}
.height-56px{
    height: 56px !important;
}
.border-radius-20{
    border-radius: 20px !important;
}

.form-eye{
    margin-top: -40px !important;
    z-index: 10 !important;
    position: relative !important;
    margin-right: 5px;
    cursor: pointer;
}
.width-submit-button{
    width: 172px !important;
    border-radius: 50px !important;
}
.inputfield{
    background-color: #F1F1F1 !important;
    border:0px solid #F1F1F1 !important;
    height: 35px !important;
    padding: 2px 5px 2px 5px !important;
}
.inputfield::placeholder{
    color: black;
    font-size: 14px;
    line-height: 21px;
}

@media (max-width: 575.98px) {


}


@media (min-width: 576px) and (max-width: 767.98px) {

}


@media (min-width: 768px) and (max-width: 991.98px) {

}


@media (min-width: 992px) and (max-width: 1199.98px){

}


@media (min-width: 1200px) and (max-width: 1399.98px)  { 

}


@media (min-width: 1400px) {

}
